<div class="container" style="margin-top:90px;">
    <div class="row">
        <div class="col s14 m6 offset-m3">
            <div class="card-panel z-depth-5">
                <h4 class="center">Docive</h4>
                <p class="center">Scan, Upload, process and archive documents</p>
                <div class="row">
                    <div class="input-field col s12 m12 center-align">
                        <a class="waves-effect waves-light btn">Scan Document</a>
                    </div>
                    <div class="input-field col s12 m12 center-align">
                        <a class="waves-effect waves-light btn">Upload Document</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>